.container {
    max-width: 670px;
}

.vertical-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    position: relative;
    border: none;
    background-color: transparent;
    color: dodgerblue;
    outline: none !important;

}


.header__btn svg {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    fill: dodgerblue;
}

.header__btn:disabled {
    color: darkgray;
}

.header__btn:disabled svg{
    fill: darkgray;
}

.header__title {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px 0;
}

.color {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.color__prev {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}


.table__head {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}


label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item__name {
    margin-left: 6px;
}

.table thead th {
    border-bottom: none;
}